@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


.header-logo {
    font-size: 24px;
}

.header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 15px;
}

.header-links ul{
    list-style: none;
    padding: 0;
    margin: 0;  
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;

}

.welcome {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.welcome-card {
    display: flex;
    margin: 100px;
    gap: 50px;
    align-items: center;
}

.welcome p {
    width: 500px;
    margin: 0;
    margin-bottom: 10px;
    color: #E5E7EB;
}

.left {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: white;
}

.sign-up {
    flex-grow: 0;
    width: 90px;
    height: 30px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 5px;

}

.welcome img {
    width: 300px;
    height: 300px;

    object-fit:cover;

}
.card img {
    width: 300px;
    height: 300px;
    object-fit:cover;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
}

.quote {
    display : flex;
    flex-direction: column;
    align-items: center;
}

 cite {
    display: flex;
    justify-content: flex-end;
}

.sign-up-prompt {
    display: flex;
    justify-content: center;
}

.sign-up-card {
    display: flex
}

.footer {
    display: flex;
    justify-content: center;
}

.header,
.footer {
    background-color: #1F2937;
}





